body {
    font-family: "Museo-300", sans-serif;
    color: #fff;
    background: #167ce2;
}

h1, h2, h3, h4, h5, strong {
    font-family: "Museo-700"
}

html {
    height: 100%;
    overflow: hidden;
}

h2 {
    font-size: 4vh;
}

.cohero-header {
    width: 100%;
    padding: 1vh 0 0.5vh 0;
}

.cohero-new-header {
    padding: 4.5vh 4.5vh 7.5vh 4.5vh;
    overflow: hidden;
}

.cohero-logo {
    float: left;
}

.cohero-logo img {
    width: 25vh;
    height: auto;
}

.cohero-emdi-logo {
    float: right;
}

.cohero-emdi-logo img {
    width: 9vh;
}

.cohero-portrait {
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    z-index: 10000;
}

@media screen and (orientation:portrait) {
    .cohero-portrait {
        display: block;
    }
}

.cohero-navbar {
    background: rgba(255, 255, 255, 0.1);
    border: 0;
    /*box-shadow: 0 0.6em 0.3em -0.3em rgba(0, 0, 0, 0.3);*/
    min-height: 75px;
}

.navbar-brand a {
    color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
    height: 10vh;
}

.cohero-row-notification {
    height: 50vh;
}

.cohero-notification {
    position: relative;
    height: 50vh;
    overflow: hidden;
}

.cohero-notification-circle-bg {
    position: absolute;
    z-index: 99;
    max-height: 45vh;
    display: block;
    margin: 0 auto;
    fill: #fff;
    stroke: #63a8ed;
    stroke-width: 4;
    stroke-miterlimit: 10;
    padding: 2.5vh 0;
    box-sizing: content-box;
}

.cohero-notification-circle-fg {
    position: absolute;
    z-index: 101;
    max-height: 45vh;
    display: block;
    margin: 0 auto;
    fill: transparent;
    stroke: #63a8ed;
    stroke-width: 4;
    stroke-miterlimit: 10;
    background: #167ce2;
    background: radial-gradient(circle at center, transparent 28%, #167ce2 25.5%);
    background-size: 220% 200%;
    background-position: 50% 50%;
    padding: 2.5vh 0;
    box-sizing: content-box;
}

.cohero-notification-container {
    width: 50%;
    height: 42.5vh;
    padding-top: 2.5vh;
    left: 25%;
    position: absolute;
    z-index: 100;
    display: table;
}

.cohero-notification-item {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 45vh;
}

.cohero-notification-item img {
    width: 40%;
    height: auto;
    vertical-align: middle;
}

.cohero-notification-item p {
    margin: 0;
    padding: 0;
    color: #167ce2;
    font-size: 2.0vw;
    font-family: "Open Sans", sans-serif;
}

.cohero-notification-item .count {
    font-size: 4em;
    line-height: 1em;
    display: block;
    font-family: "museo_sans_rounded-500", sans-serif;
}

.cohero-notification-item .spirometer-reading {
    font-size: 1.6em;
    display: block;
    font-family: "museo_sans_rounded-500", sans-serif;
}

.cohero-notification-item .spirometer-kiosk {
    color: #51b19c;
    display: block;
}

.cohero-queue {
    color: #fff;
    overflow: hidden;
}

.cohero-queue-header {
    padding: 0.3em 0.3em;
    margin-bottom: 0.3em;
    /*background: rgba(255, 255, 255, 0.1);*/
    /*box-shadow: 0 0.6em 0.3em -0.3em rgba(0, 0, 0, 0.3);*/
    overflow: hidden;
    font-size: 3.5vh;
    font-family: 'museo_sans_rounded-300', sans-serif;
}

.cohero-actvity-log-header {
    font-family: 'museo_sans_rounded-300', sans-serif;
    margin-top: 0;
    margin-bottom: 4vh;
}

.cohero-queue-container {
    height: 50vh;
    overflow: hidden;
    font-size: 3vh;
}

.cohero-queue-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.cohero-queue-item-time, .cohero-queue-item-kiosk {
    height: 100%;
    padding: 0.3em 0.5em;
}

.cohero-queue-item-time {
    background: rgba(255, 255, 255, 0.2);
}

.cohero-queue-item-kiosk {
    background: rgba(255, 255, 255, 0.3);
}

.cohero-queue-item-active {
    background: #51b19c;
    -webkit-transition: background 0.5s;
}

.cohero-activity-log-container {
    font-size: 1.5vh;
    height: 85vh;
    font-family: "Open Sans", sans-serif;
}

.cohero-activity-log td {
    padding: 0.25vh 0;
}

.cohero-activity-log th {
    background: rgba(255, 255, 255, 0.1);
    border: none!important;
}

.cohero-activity-log td {
    border-top: 0!important;
}

.cohero-activity-log tr:nth-child(even) {
    background: rgba(255, 255, 255, 0.2);
}

.fadeInWobble {
    -webkit-animation: swing 1s, fadeIn 1s;
    animation: swing 1s, fadeIn 1s;
}

.cohero-activity-log-container {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}
