:root {
    --cohero-background-blue: #167ce2;
    --cohero-accent-blue: #63a8ed;
    --cohero-accent-red: #ff3333;
    --cohero-accent-purple: #7d0ce8;
    --cohero-accent-green: #51b19c;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    background: var(--cohero-background-blue);
}

h1, h2, h3, h4, h5, strong {
    font-family: "museo_sans_rounded-500";
    text-align:center;
}
.cohero-remote-options{
  text-align: center;
}
.cohero-kiosk-names-wrapper .tm-tag{
  font-size:18px;
  display:block;
  float:left;
  padding:2px;
  border:1px solid #fff;
  border-radius:2px;
  margin:2px;
}
.cohero-kiosk-names-wrapper .tm-tag-remove{
  color: var(--cohero-accent-blue);
  padding: 0 2px;
}
.cohero-kiosk-names-wrapper .tm-tag-remove:hover{
  text-decoration: none;
}
.cohero-kiosk-names-wrapper .kiosk-names{
  font-size:18px;
  float:none;
  width:100%;
  margin-top:10px;
  color:#000;
}
